*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e74c3c;
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box
{
    position: relative;
    width: 250px;
    height: 200px;
    margin: 20px;
    background: #e74c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.1);
}

.container .box.shadow1
{
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container .box.shadow2
{
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                 15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -10px -10px 10px rgba(255, 255, 255, 0.2),
                inset 15px 15px 15px rgba(0, 0, 0, 0.1);
}